<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I am an Experienced Customer Care Professional with a demonstrated history of working in the computer software industry. Skilled in Web Development, Web Design, and Adobe Creative Suite. Strong support professional with a HND focused in Computing and Systems Development from Belfast Metropolitan College.</p>

    <p>While my education was mostly based in the Windows universe of Software Development (Java,C#, C++), I took an interest in Web Development after a module in the course focused on creating static website's with dynamic content, From here I began searching for better ways to implement this rather than using Dreamweaver's built in tools. I wanted to see under the hood so to speak. All the projects listed below are a result of self-learning using a number of different tools and books available online.</p>
</div><!--//summary-->
</section><!--//section-->
