 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Full Stack Web Developer Course</h4>
    <h5 class="meta">Coder Manual</h5>
    <div class="time">2016 - 2017</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">HND Computing and Systems Development</h4>
    <h5 class="meta">Belfast Metropolitan College</h5>
    <div class="time">2011 - 2013</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Microsoft Certified Professional (Software Development Fundamentals)</h4>
    <h5 class="meta">Belfast Metropolitan College</h5>
    <div class="time">2012 - 2012</div>
</div><!--//item-->
</div><!--//education-container-->
