<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Boarding Specialist</h3>
                            <div class="time">2016 - Current</div>
                        </div><!--//upper-row-->
                        <div class="company">ShopKeep</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>As an Onboarding Specialist, it is my role to ensure all customer's have a pleaseant first experience when joining the company. This ranges from setting up Credit Card Processing, all the way to enabling & testing third party integrations to our platform.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Lead Web Developer</h3>
                            <div class="time">2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Magee Tiling Contracts, Belfast</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>As the Lead Web Developer it was my sole responsibility to liaise with and negotiate the terms of the job with the client. This included mockup discussion’s, price negotiation, business brand guidelines and the creation and maintenance of the site itself.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
