<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Customer Care Advisor</h3>
                            <div class="time">2016 - Current</div>
                        </div><!--//upper-row-->
                        <div class="company">ShopKeep</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>As a customer care advisor, it is my responsibilty to ensure a smooth and pleaseant experience when either setting up, or if something goes wrong with the merchants system. This includes a multitude of diferent tasks ranging from Software troubleshooting to Networking setup/diagnostics. Most recently my role has expanded to include the provision of merchants credt card processing accounts. This includes making sure that details are entered into the appropiate systems with the upmost care and accuracy along with communication with outside 3rd party companies during the setup process.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Lead Web Developer</h3>
                            <div class="time">2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Magee Tiling Contracts, Belfast</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>As the Lead Web Developer it was my sole responsibility to liaise with and negotiate the terms of the job with the client. This included mockup discussion’s, price negotiation, business brand guidelines and the creation and maintenance of the site itself.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
